
/* Your CSS Code here. */

.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
	
}

.item1 {
  background-color: green;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  height: 100px;
  width: 100px;

}
.item2 {
  background-color: red;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
	height: 100px;
  width: 100px;
}
.item3 {
  background-color: blue;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
	height: 100px;
  width: 100px;
}
